# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Current code owners
# - @nicolasmertanen -> Nicolás Mertanen
# - @finxo -> Alejandro Lopez
# - @FrangSierra -> Francisco García
# - @adriangl -> Adrián García
# - @yamidragut -> Estefanía Sarasola
# - @Babelia13 -> Sara Lucía Pérez

*   @nicolasmertanen @finxo @FrangSierra @adriangl @yamidragut @Babelia13